
{% extends "base.html" %}
{% block content %}
<h3>Gerar Carteirinha</h3>
<form method="POST" enctype="multipart/form-data">
<input name="nome" class="form-control" placeholder="Nome completo"><br>
<input name="rg" class="form-control" placeholder="RG"><br>
<input name="cpf" class="form-control" placeholder="CPF"><br>
<input name="telefone" class="form-control" placeholder="Telefone"><br>
<input name="nascimento" class="form-control" placeholder="Nascimento"><br>
<input type="file" name="foto" class="form-control"><br>
<button class="btn btn-success">Gerar</button>
</form>
{% endblock %}
